Automate_the_Boring_Stuff_2e_onlinematerials
project_10_random_quiz_files/*.txt
project_11_rename_files_with_american_dates/*.txt
project_12_read_data_from_spreadsheet/census2010_classes.xlsx
project_13_update_spreadsheet/*.xlsx
project_14_PDF_paranoia/**/*.pdf
project_15_fetching_current_weather/credentials.py
project_17_simple_countdown/*.wav
web_browsing_and_scraping/*.txt
working_with_excel/*.xlsx
working_with_PDF/*.pdf
working_with_Word/*.docx
working_with_CSV/*.csv
working_with_emails/credentials.py
working_with_emails/credentials.json
working_with_emails/quickstart.py
working_with_emails/working_with_emails_ezgmail.py
__pycache__
*.png